.item {
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(173, 173, 199);

  background-color: rgb(230, 230, 255);
}

.label {
  font-size: 24px;
  margin-bottom: 15px;
}

.percentage {
  font-weight: bold;
  font-size: 16px;
  color: red;
}
