.status {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  border-radius: 50%;
}

.item {
  padding: 10px;
  display: flex;
  border: 2px solid rgb(173, 173, 199);
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(108, 109, 141, 0.329);
  margin-bottom: 5px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 15px;
}
